* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.main__container {
  max-width: 31.25rem;
  /* max-height: 31.25rem; */
  display: flex;
  border-radius: 0.625rem;
  background-color: white;
}

.main_picture {
  background-image: url(../images/image-product-desktop.jpg);
  width: 50%;
  background-size: 100% 100%;
  border-top-left-radius: 0.625rem;
  border-end-start-radius: 0.625rem;
}

.main__header {
  font-family: Montserrat;
  font-size: 0.625rem;
  padding-bottom: 0.625rem;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.article__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5625rem;
}

.article__header {
  font-family: Fraunces;
  font-size: 1.625rem;
  padding-right: 1.875rem;
  padding-bottom: 1.25rem;
}

.main__article {
  font-family: Montserrat;
  font-size: 0.75rem;
  padding-bottom: 1.25rem;
  line-height: 1.25rem;
  color: hsl(228, 12%, 48%);
}

.price__text {
  font-family: Fraunces;
  font-size: 1.5rem;
  margin-right: 0.9375rem;
  color: hsl(158, 36%, 37%);
}

.sale__text {
  font-family: Montserrat;
  font-size: 0.625rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.price__container {
  display: flex;
  margin-bottom: 1.25rem;
  align-items: center;
}

.main__btn {
  height: 2.5rem;
  font-family: Montserrat;
  font-size: 0.75rem;
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 22%;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 0.625rem;
  font-weight: 700;
}

.main__btn:hover {
  cursor: pointer;
  background-color: hsl(212, 21%, 14%);
}

@media only screen and (max-device-width: 31.25rem) {
  body {
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
  }

  .main_picture {
    background-image: url(../images/image-product-mobile.jpg);
    width: 100%;
    height: 15.625rem;
    border-end-start-radius: 0rem;
    border-top-right-radius: 0.625rem;
  }

  .main__container {
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    background-color: white;
  }

  .article__container {
    width: 100%;
  }
}
